# =========================
# Flutter
# =========================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# Node.js Backend
# =========================
server/node_modules/

# =========================
# Environment Variables
# =========================
.env
server/.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Coverage
# =========================
coverage/

# =========================
# Temporary Files
# =========================
*.tmp
*.bak

server/src/node_modules/
